body {
  background-color: black;
  font-family: "Comic Sans MS";
  color: white;
}

video {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  height: 50%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: contain;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

a, .ieee{
  color: #00629b;
}

#splash {
  padding-top:15vh;
  height:80vh;
  text-align: center;
}

#subscribe {
  padding-top:5vh;
}

img {
    max-width: 100%;
}

.landscape {
    height: 5px;
    width: 50px;
}