body {
  background-color: black;
  font-family: "Comic Sans MS";
  color: white;
}

video {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 50%;
  height: 50%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: contain;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

a, .ieee{
  color: #00629b;
}

#splash {
  margin-top: 55px;
  padding-top:15vh;
  height:80vh;
  text-align: center;
}

#subscribe {
  padding-top:5vh;
}

img {
    max-width: 100%;
}

.landscape {
    height:100px;
    width: 100px;
}

#thumbs {   
    width: 540px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#arrows {   
    height: : 200px;
    margin-top: -2.5px;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#arrows a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#arrow {   
    height: 20%;
    width: 20%;
    margin-top: -5px;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

