body {
  background-color: black;
  font-family: "Comic Sans MS";
  color: white;
}

video {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a, .ieee{
  color: #00629b;
}

#splash {
  margin-top: 55px;
  padding-top:15vh;
  height:80vh;
  text-align: center;
}

#subscribe {
  padding-top:5vh;
}

#pictures {
  text-align: center;
}

#pics img {
    max-width: 75%;
}

.landscape {
    height:100px;
    width: 100px;
}

#thumbs {   
    width: 540px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#arrows {
    padding: 10px;
    height: : 100px;
    /*margin-top: -2.5px;*/
    margin-left: auto; 
    margin-right: auto;

    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#arrow {   
    width: 10%;
    margin-top: -5px;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.event {
  color: red;
}